.tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    float: left;
    width: 20%;
  }
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #888;
    padding: 15px 0;
    border-bottom: 2px solid #888;
    background: #f7f7f7;

    &:hover,
    &.active {
      background: #ddd;
    }
  }
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
