<br>
<p>
  This can be used to override the modal behavior. We have added a builtin display preference for Arabic Language.
</p>
<div class="tab-wrapper" id="sec2">
  <div class="tab-header">
    <div class="row">
      <div class="col s6 title">Programmatically with Arabic Language</div>
    </div>
  </div>
  <app-tabs>
    <app-tab tabTitle="test.component.html">
        <pre style='color:#000000;'>

    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>button</span><span style='color:#274796; '> (click)</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"open()"</span><span style='color:#a65700; '>></span>Time<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>button</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>input</span><span style='color:#274796; '> </span><span style='color:#074726; '>type</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"time"</span><span style='color:#274796; '> </span><span style='color:#074726; '>value</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{{sintax}}"</span><span style='color:#a65700; '>></span>
        </pre>
    </app-tab>
    <app-tab tabTitle="test.component.ts">
<pre style='color:#000000;'>
    <span style='color:#800000; font-weight:bold; '>import</span> <span style='color:#800080; '>{{ '{' }}</span> Component <span style='color:#800080; '>{{ '}' }}</span> from <span style='color:#800000; '>'</span><span style='color:#0000e6; '>@angular/core</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>import</span> <span style='color:#800080; '>{{ '{' }}</span> AmazingTimePickerService <span style='color:#800080; '>{{ '}' }}</span> from <span style='color:#800000; '>'</span><span style='color:#0000e6; '>amazing-time-picker</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
    
    @Component<span style='color:#808030; '>(</span><span style='color:#800080; '>{{ '{' }}</span>
        selector<span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>app-test</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span>
        templateUrl<span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>./test.component.html</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span>
        styleUrls<span style='color:#800080; '>:</span> <span style='color:#808030; '>[</span><span style='color:#800000; '>'</span><span style='color:#0000e6; '>./test.component.scss</span><span style='color:#800000; '>'</span><span style='color:#808030; '>]</span>
    <span style='color:#800080; '>{{ '}' }}</span><span style='color:#808030; '>)</span>
    <span style='color:#800000; font-weight:bold; '>export</span> <span style='color:#800000; font-weight:bold; '>class</span> TestComponent <span style='color:#800080; '>{{ '{' }}</span>
        <span style='color:#800000; font-weight:bold; '>public</span> selectedTime <span style='color:#808030; '>=</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>18:33</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>

        <span style='color:#797997; '>constructor</span><span style='color:#808030; '>(</span><span style='color:#800000; font-weight:bold; '>private</span> atp<span style='color:#800080; '>:</span> AmazingTimePickerService<span style='color:#808030; '>)</span> <span style='color:#800080; '>{{ '{' }}</span> <span style='color:#800080; '>{{ '}' }}</span>
    
        open<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{{ '{' }}</span>
            <span style='color:#800000; font-weight:bold; '>const</span> amazingTimePicker <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>atp<span style='color:#808030; '>.</span>open<span style='color:#808030; '>(</span><span style='color:#800080; '>{{ '{' }}</span>
                locale<span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>ar</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span>
            <span style='color:#800080; '>{{ '}' }}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            amazingTimePicker<span style='color:#808030; '>.</span>afterClose<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>subscribe<span style='color:#808030; '>(</span>time <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> <span style='color:#800080; '>{{ '{' }}</span>
                <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>selectedTime <span style='color:#808030; '>=</span> time<span style='color:#800080; '>;</span>
            <span style='color:#800080; '>{{ '}' }}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>{{ '}' }}</span>
    <span style='color:#800080; '>{{ '}' }}</span>
    </pre>
    </app-tab>
  </app-tabs>
  <div class="tab-content">
    <div class="row">
      <div class="col s12">
        <button class="waves-effect waves-light btn "  (click)="openArabic()">Time</button>
        <div class="input-field inline">
        <input type="time" class="validate" [value]="selectedTime">
        </div>
      </div>
    </div>
  </div>
</div>
