<h2 class="pre-title">Opening with Arabic language ( Preference example )</h2>
<p>You can also open a timepicker dialog programmatically. In order to open that, you need to import the service in your component </p>
<pre class="pre-code L"><code>import {{ '{' }} AmazingTimePickerService {{ '}' }} from 'amazing-time-picker';</code></pre>
<p>Then add it inside your <code  class="pre-code S">test.component.ts</code> or any other component that you want to use timepicker inside of that.</p>



This can be used to override the modal behavior. We have added a builtin display preference for Arabic Language.
<br>
<div class="tab-wrapper" id="sec2">
  <div class="tab-header">
    <div class="row">
      <div class="col s6 title">Programmatically</div>
    </div>
  </div>
  <app-tabs>
    <app-tab tabTitle="test.component.html">
      <pre>
        <code [innerHTML]="html"></code>
      </pre>
    </app-tab>
    <app-tab tabTitle="test.component.ts">
      <pre>
        <code [innerHTML]="ts"></code>
      </pre>
    </app-tab>
  </app-tabs>
  <div class="tab-content">
    <div class="row">
      <div class="col s12">
        <button class="waves-effect waves-light btn "  (click)="openArabic()">Time</button>
        <div class="input-field inline">
        <input type="time" class="validate" [value]="selectedTime">
        </div>
      </div>
    </div>
  </div>
</div>
