
    
<!-- <p>
  This is time picker for angular projects, for Angular Material 4. A visual time picker for angular 2+ projects. You can use
  this timepicker with Angular 2, 4 and Angular Material. ## Install You need to install this repository as dependency
  and import it to your `app.module.ts` in `imports` section.
</p>

<button atp-time-picker value="9:32" theme="red" arrowStyle="{'background': '#80cbc4', 'color': 'red'}">salam</button>

<input type="text" atp-time-picker value="20:55" arrowStyle="{'background': 'green', 'color': 'red'}" />

<br> -->

<h2 class="pre-title">Using in component markup</h2>
<p>After you have installed this module, you can use it within your html templates and give the directive to the any tag. When user closes the dialog, it's gonna update the input value and will listen to input click event to open the dialog.</p>
<br>
<div class="tab-wrapper" id="sec1">
  <div class="tab-header">
      <div class="row">
          <div class="col s6 title">Directive</div>
      </div>
  </div>
  <app-tabs #tab1>
      <app-tab tabTitle="test.component.html">
            <pre style='color:#000000;'>     
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>input</span><span style='color:#274796; '> </span><span style='color:#074726; '>type</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"time"</span><span style='color:#274796; '> atp-time-picker </span><span style='color:#074726; '>value</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"20:55"</span><span style='color:#a65700; '>/></span>
            </pre>
      </app-tab>
      <app-tab tabTitle="test.component.ts">
          <div>
            <pre style='color:#000000;'>
               
    <span style='color:#800000; font-weight:bold; '>import</span> <span style='color:#800080; '>{{ '{' }}</span> Component <span style='color:#800080; '>{{ '}' }}</span> from <span style='color:#800000; '>'</span><span style='color:#0000e6; '>@angular/core</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>

    @Component<span style='color:#808030; '>(</span><span style='color:#800080; '>{{ '{' }}</span>
        selector<span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>app-test</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span>
        templateUrl<span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>./api.component.html</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span>
        styleUrls<span style='color:#800080; '>:</span> <span style='color:#808030; '>[</span><span style='color:#800000; '>'</span><span style='color:#0000e6; '>./api.component.scss</span><span style='color:#800000; '>'</span><span style='color:#808030; '>]</span>
    <span style='color:#800080; '>{{ '}' }}</span><span style='color:#808030; '>)</span>

    <span style='color:#800000; font-weight:bold; '>export</span> <span style='color:#800000; font-weight:bold; '>class</span> TestComponent <span style='color:#800080; '>{{ '{' }}</span>

    <span style='color:#800080; '>{{ '}' }}</span>
</pre>
          </div>
      </app-tab>
  </app-tabs>
  <div class="tab-content">
      
      <div class="row">
          <div class="col s12">
                Time:
                <div class="input-field inline">
                    <input type="time" atp-time-picker value="20:55" />
                </div>
          </div>
      </div>
  </div>
</div>
<br>
    <h2 class="pre-title">Opening component programmatically</h2>
    <p>You can also open a timepicker dialog programmatically. In order to open that, you need to import the service in your component </p>
    <pre class="pre-code L"><code>import {{ '{' }} AmazingTimePickerService {{ '}' }} from 'amazing-time-picker';</code></pre>
    <p>Then add it inside your <code  class="pre-code S">test.component.ts</code> or any other component that you want to use timepicker inside of that.</p>
<br>
<div class="tab-wrapper" id="sec2">
        <div class="tab-header">
            <div class="row">
                <div class="col s6 title">Programmatically</div>
            </div>
        </div>
        <app-tabs #tab1>
            <app-tab tabTitle="test.component.html">
    <pre style='color:#000000;'>

    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>button</span><span style='color:#274796; '> (click)</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"open()"</span><span style='color:#a65700; '>></span>Time<span style='color:#a65700; '>&lt;/</span><span style='color:#800000; font-weight:bold; '>button</span><span style='color:#a65700; '>></span>
    <span style='color:#a65700; '>&lt;</span><span style='color:#800000; font-weight:bold; '>input</span><span style='color:#274796; '> </span><span style='color:#074726; '>type</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"time"</span><span style='color:#274796; '> </span><span style='color:#074726; '>value</span><span style='color:#808030; '>=</span><span style='color:#0000e6; '>"{{sintax}}"</span><span style='color:#a65700; '>></span>
   </pre>
            </app-tab>
            <app-tab tabTitle="test.component.ts">
                <div>
                        <pre style='color:#000000;'>
    <span style='color:#800000; font-weight:bold; '>import</span> <span style='color:#800080; '>{{ '{' }}</span> Component <span style='color:#800080; '>{{ '}' }}</span> from <span style='color:#800000; '>'</span><span style='color:#0000e6; '>@angular/core</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
    <span style='color:#800000; font-weight:bold; '>import</span> <span style='color:#800080; '>{{ '{' }}</span> AmazingTimePickerService <span style='color:#800080; '>{{ '}' }}</span> from <span style='color:#800000; '>'</span><span style='color:#0000e6; '>amazing-time-picker</span><span style='color:#800000; '>'</span><span style='color:#800080; '>;</span>
    
    @Component<span style='color:#808030; '>(</span><span style='color:#800080; '>{{ '{' }}</span>
        selector<span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>app-test</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span>
        templateUrl<span style='color:#800080; '>:</span> <span style='color:#800000; '>'</span><span style='color:#0000e6; '>./test.component.html</span><span style='color:#800000; '>'</span><span style='color:#808030; '>,</span>
        styleUrls<span style='color:#800080; '>:</span> <span style='color:#808030; '>[</span><span style='color:#800000; '>'</span><span style='color:#0000e6; '>./test.component.scss</span><span style='color:#800000; '>'</span><span style='color:#808030; '>]</span>
    <span style='color:#800080; '>{{ '}' }}</span><span style='color:#808030; '>)</span>
    <span style='color:#800000; font-weight:bold; '>export</span> <span style='color:#800000; font-weight:bold; '>class</span> TestComponent <span style='color:#800080; '>{{ '{' }}</span>
        <span style='color:#800000; font-weight:bold; '>public</span> selectedTime<span style='color:#800080; '>:</span> string<span style='color:#800080; '>;</span>
    
        <span style='color:#797997; '>constructor</span><span style='color:#808030; '>(</span> <span style='color:#800000; font-weight:bold; '>private</span> atp<span style='color:#800080; '>:</span> AmazingTimePickerService <span style='color:#808030; '>)</span> <span style='color:#800080; '>{{ '{' }}</span> <span style='color:#800080; '>{{ '}' }}</span>
    
        open<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span> <span style='color:#800080; '>{{ '{' }}</span>
            <span style='color:#800000; font-weight:bold; '>const</span> amazingTimePicker <span style='color:#808030; '>=</span> <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>atp<span style='color:#808030; '>.</span>open<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
            amazingTimePicker<span style='color:#808030; '>.</span>afterClose<span style='color:#808030; '>(</span><span style='color:#808030; '>)</span><span style='color:#808030; '>.</span>subscribe<span style='color:#808030; '>(</span>time <span style='color:#808030; '>=</span><span style='color:#808030; '>></span> <span style='color:#800080; '>{{ '{' }}</span>
                <span style='color:#800000; font-weight:bold; '>this</span><span style='color:#808030; '>.</span>selectedTime <span style='color:#808030; '>=</span> time<span style='color:#800080; '>;</span>
            <span style='color:#800080; '>{{ '}' }}</span><span style='color:#808030; '>)</span><span style='color:#800080; '>;</span>
        <span style='color:#800080; '>{{ '}' }}</span>
    <span style='color:#800080; '>{{ '}' }}</span>
                            </pre>
                </div>
            </app-tab>
        </app-tabs>
        <div class="tab-content">
            <div class="row">
                <div class="col s12">
                    <button class="waves-effect waves-light btn test-open-dialog"  (click)="open()">Time</button>
                    <div class="input-field inline">
                    <input type="text" class="validate" [value]="selectedTime" class="atp-ref-dialog-result" id="atp-ref-dialog-result">
                    </div>
                </div>
            </div>
        </div>
      </div>
      <br>
    