.dialog-box {
    padding: 0 !important;
}
#time-picker{
    width: 325px;
    height: auto;
    margin: auto;
    
    .time-picker-header{
        text-align: center;
        border-bottom: 1px solid #e1e1e1;
        padding: 15px 0px;
        .time-picker-selected-time{
            font-size: 35px;
            padding: 5px 0px;
            color: #aaa;
            div{
                display: inline-block;
                cursor: pointer;
                &.selected{
                    color: #000;
                }
            }
        }
        .time-picker-selected-ampm{
            font-size: 18px;
            color: #aaa;
            div{
                display: inline-block;
                padding: 0 5px;
                cursor: pointer;
                &.selected{
                    color: #000;
                }
            }
        }
    }
    .time-picker-contet{
        .time-picker-clock{
            width: 200px;
            height: 200px;
            background: #ededed;
            padding: 24px;
            border-radius: 50%;
            cursor: pointer;
            margin: 25px auto;
            position: relative;
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;         
            button{
                border: none;
                background: transparent;
                position: absolute;
                width: 35px;
                border-radius: 50%;
                cursor: pointer;
                font-size: 17px;
                text-align: center;
                padding: 7px 0;
                transition: all .5s;
                &:hover{
                    background: rgb(250,250,250);
                }
            }
            .time-picker-clock-origin{
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: blue;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -3px;
                margin-top: -3px;
            }
            .time-picker-clock-arrow{
                width: 95px;
                height: 2px;
                background: blue;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -1px;
                margin-left: -1px;
                transform-origin: top left;
                &:before{
                    content: " ";
                    width: 8px;
                    height: 8px;
                    background: blue;
                    border-radius: 50%;
                    position: absolute;
                    top: -3px;
                    right: -6px;
                }
            }
        }
    }

    .time-picker-footer{
        border-top: 1px solid #e1e1e1;
        padding: 0px 15px;
        text-align: right;
        button{
            background: #f1f1f1;
            margin-left: 10px;
        }
    }
}