header{
    width: 100%;
    overflow: hidden;
    height: 275px;
    text-align: center;
    color: #555;
    font-family: 'Dancing Script', cursive;
    background: #00c6ff;
    background: -webkit-linear-gradient(to bottom, #becfe4, #fafafa) url();
    background: linear-gradient(to bottom, #becfe4, #fafafa);
    
}
.nav-wrapper{
    .container{
        text-align: center;
        height: 150px;
        .brand-logo{
            p{
                font-size: 20px;
                margin: 0px;
            }
            img{
                margin-top: 30px;
                width: 100px;
            }
        }
    }   
}
.nav-content{
    .tab{
        
        a{
            &.active{
                border-bottom: 3px solid #fff;
            }
            font-size: 16px !important;
        }
    }
}
#main-container{
    font-size: 17px;
    line-height: 30px;
    pre{
        line-height: 20px;
        font-size: 13px;
    }
}
.tab-wrapper{
    border: 1px solid #ddd;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    .row{
        margin: 0;
    }
    .tab-header{
        padding: 15px;
        background: #EFEFEF;
    }
    pre{
        background: transparent;
        border: 0;
        margin: 0;
    }
    .tab-content{
        padding: 15px;
    }
}