<h1>Angular Material 5 Time Picker</h1>

This is a lightweight time picker for angular material 5, with a clock shape, based on material dialog.

<mat-form-field class="example-full-width">
    <input mat-timepicker matInput placeholder="Click to get the time" value="0:0">
</mat-form-field>


<h2>Installing</h2>
Install this dependecy for your existing angualar project:

<pre>
    npm install angular-material-clock-time-picker --save
</pre>

and then import it into your <b>app.module.ts</b>

import { MatTimePickerModule } from 'angular-material-clock-time-picker';

and add it into your imports section.

