header{
    width: 100%;
    overflow: hidden;
    height: 275px;
    text-align: center;
    color: #555;
    font-family: 'Dancing Script', cursive;
    background: #00c6ff;
    background: -webkit-linear-gradient(to bottom, #becfe4, #fafafa) url();
    background: linear-gradient(to bottom, #becfe4, #fafafa);
    
}
.nav-wrapper{
    .container{
        text-align: center;
        height: 150px;
        .brand-logo{
            p{
                font-size: 20px;
                margin: 0px;
            }
            img{
                margin-top: 30px;
                width: 100px;
            }
        }
    }   
}
.nav-content{
    .tab{
        text-transform: none;
        a{
            &.active{
                border-bottom: 3px solid #fff;
            }
            font-size: 16px !important;
        }
    }
}
