<div id="main-container" class="container">
  <div class="row">
    <div class="col l9"><router-outlet></router-outlet></div>
    <div class="col l3 right-acc hide-on-med-and-down">
      <h1>Amazing Time Picker (Clock)</h1>
      <a
        href="https://camo.githubusercontent.com/5188f22e80981bc2c6b3f4361ca8286083239d13/68747470733a2f2f7472617669732d63692e6f72672f6f77736f6c7574696f6e732f616d617a696e672d74696d652d7069636b65722e7376673f6272616e63683d6d6173746572"
        target="_blank"
        ><img
          src="https://camo.githubusercontent.com/5188f22e80981bc2c6b3f4361ca8286083239d13/68747470733a2f2f7472617669732d63692e6f72672f6f77736f6c7574696f6e732f616d617a696e672d74696d652d7069636b65722e7376673f6272616e63683d6d6173746572"
          alt="Build Status"
          data-canonical-src="https://travis-ci.org/owsolutions/amazing-time-picker.svg?branch=master"
          style="max-width:100%;"
      /></a>
      <a href="https://opensource.org/licenses/MIT" rel="nofollow"
        ><img
          src="https://camo.githubusercontent.com/311762166ef25238116d3cadd22fcb6091edab98/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f4c6963656e73652d4d49542d626c75652e737667"
          alt="License: MIT"
          data-canonical-src="https://img.shields.io/badge/License-MIT-blue.svg"
          style="max-width:100%;"
      /></a>

      <p>Retain your Angular project a time picker.</p>
      <p>
        A visual time picker for angular 2+ projects. You can use this
        timepicker with Angular 2, 4, 5, 6, 7 and Angular Material.
      </p>

      <pre class="npm"><code>npm i amazing-time-picker --save</code></pre>
    </div>
  </div>
</div>

<app-snack-ad></app-snack-ad>
