<div id="time-picker-wrapper" class="{{config.theme}}" [ngClass]="{'active': activeModal}" (click)="Close($event);">
  <div id="time-picker" [ngClass]="{'active': activeModal}">
    <div class="time-picker-header">
      <div class="time-picker-selected-time">
          <div class="time-picker-hour" (click)="clockType='hour';clockMaker()" [ngClass]="{'selected' : clockType == 'hour'}">{{hour}}</div>
          <span class="time-seprator">:</span>
          <div class="time-picker-minute" (click)="clockType='minute';clockMaker()" [ngClass]="{'selected' : clockType == 'minute'}">{{minute}}</div>
      </div>
      <div class="time-picker-selected-ampm">
        <div class="time-picker-am" (click)="ampm = 'AM';" [ngClass]="{'selected' : ampm == 'AM'}">AM</div>
        <div class="time-picker-pm" (click)="ampm = 'PM';" [ngClass]="{'selected' : ampm == 'PM'}">PM</div>
      </div>
    </div>
    <div class="time-picker-contet">
        <div class="time-picker-clock" (mousemove)="getDegree($event);" (mousedown)="isClicked = true;getDegree($event);" (mouseup)="isClicked = false;">
          <button *ngFor="let clock of clockObject" [ngClass]="{'active' : nowTime == clock.time}" 
            [id]="'timepicker-item-id-' + clock.time" 
            [ngStyle]="{top: clock.top,left: clock.left, color: nowTime == clock.time ? config.arrowStyle.color : config.theme == 'light' ? '#000' : '#eee', background: nowTime == clock.time ? config.arrowStyle.background : 'transparent'}">
            {{clock.time}}
          </button>
          <div class="time-picker-clock-origin" [ngStyle]="{ background: config.arrowStyle.background}"></div>
          <div id="tpc-arrow" class="time-picker-clock-arrow" [ngStyle]="{transform: 'rotate(' + this.degree + 'deg)','-webkit-transform': 'rotate(' + this.degree + 'deg)', background: config.arrowStyle.background}">
            <span [ngStyle]="{ background: config.arrowStyle.background }"></span>
          </div>
        </div>
    </div>
    <div class="time-picker-footer">
        <button (click)="Close($event);">Cancel</button>
        <button (click)="GetTime();Close($event);" class="atp-ref-dialog-close">OK</button>
    </div>
  </div>
</div>