#time-picker-wrapper{
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: transparent;
  transition: background 0.4s;
  font-family: 'Roboto', sans-serif;
  z-index: 1000;
  &.static{
      position: relative !important;
      background: transparent !important;
      display: inline-block;
      z-index: 0;
  }
  &.active{
      background: rgba(0,0,0,0.3);
  }
  &.dark{
    #time-picker{
        background: #424242;
        .time-picker-header{
            border-bottom: none;
            background: #555555;
            .time-picker-selected-time{
                color: #999;
                div.selected{
                    color: #fff;
                }
            }
            .time-picker-selected-ampm{
                color: #999;
                div.selected{
                    color: #fff;
                }
            }
        }
        .time-picker-clock{
            background: #555555;

        }
        .time-picker-footer{
            border-top: none;
            button{
                background: #555555;
                color: #fff;
                &:hover{
                    background: #777;
                }
            }
        }
    }    
  }
  &.light{
    #time-picker{
        background: #fff;
        .time-picker-header{
            border-bottom: 1px solid #e1e1e1;
            .time-picker-selected-time{
                color: #aaa;
                div.selected{
                    color: #000;
                }
            }
            .time-picker-selected-ampm{
                color: #aaa;
                div.selected{
                    color: #000;
                }
            }
        }
        .time-picker-clock{
            background: #ededed;
        }
        .time-picker-footer{
            border-top: 1px solid #e1e1e1;
            button{
                background: #f1f1f1;
                &:hover{
                    background: #ddd;
                }
            }
        }
    }    
  }
  &.material{
    #time-picker{
        background: #fff;
        .time-picker-header{
            border-bottom: 1px solid #e1e1e1;
            .time-picker-selected-time{
                color: #aaa;
                div.selected{
                    color: #000;
                }
            }
            .time-picker-selected-ampm{
                color: #aaa;
                div.selected{
                    color: #000;
                }
            }
        }
        .time-picker-clock{
            background: #ededed;
        }
        .time-picker-footer{
            border-top: 1px solid #e1e1e1;
            button{
                background: #f1f1f1;
                &:hover{
                    background: #ddd;
                }
            }
        }
    }    
  }
  #time-picker{
      width: 325px;
      height: auto;
      box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
      border-radius: 2px;
      margin:15vh auto !important;
      transform: scale(0.5) !important;
      transition: transform 0.3s, opacity 0.3s;
      opacity: 0;
      &.static{
          margin: 0px !important;
          box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 0 7px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
      }
      &.active{
          transform: scale(1) !important;
          opacity: 1;
      }
      .time-picker-header{
          text-align: center;
          padding: 15px 0px;
          .time-picker-selected-time{
              font-size: 35px;
              padding: 5px 0px;
              div{
                  display: inline-block;
                  cursor: pointer;
              }
          }
          .time-picker-selected-ampm{
              font-size: 18px;
              div{
                  display: inline-block;
                  padding: 0 5px;
                  cursor: pointer;
              }
          }
      }
      .time-picker-content{
          .time-picker-clock{
              width: 200px;
              height: 200px;
              padding: 24px;
              border-radius: 50%;
              cursor: pointer;
              margin: 25px auto;
              position: relative;
              user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              -webkit-user-select: none;         
              button{
                  border: none;
                  background: transparent;
                  position: absolute;
                  width: 35px;
                  height: 35px;
                  border-radius: 50%;
                  cursor: pointer;
                  font-size: 17px;
                  text-align: center;
                  padding: 0;
                  transition: all .2s;
                  z-index: 3;
                  &:hover{
                      background: rgb(250,250,250);
                  }
                  &.active{
                      background: blue;
                      color: #fff;
                  }
              }
              .time-picker-clock-origin{
                  width: 6px;
                  height: 6px;
                  border-radius: 50%;
                  position: absolute;
                  left: 50%;
                  top: 50%;
                  margin-left: -3px;
                  margin-top: -3px;
              }
              .time-picker-clock-arrow{
                  width: 2px;
                  height: 41%;
                  background: blue;
                  position: absolute;
                  left: 0;
                  top: 22px;
                  right: 0;
                  margin: auto;
                  -webkit-transform-origin: top left;
                  transform-origin: bottom;
                  span{
                      width: 8px;
                      height: 8px;
                      border-radius: 50%;
                      position: absolute;
                      top: 0;
                      right: -3px;
                  }
              }
          }
      }

      .time-picker-footer{
          padding: 15px;
          text-align: right;
          button{
              border: transparent;
              margin-left: 10px;
              padding: 10px;
              font-size: 14px;
              border-radius: 2px;
              cursor: pointer;
          }
      }
  }
}
*{
  outline: none;
  box-sizing: content-box;
}