/* You can add global styles to this file, and also import other style files */
body{
    background: #fafafa;
    font-family: 'Roboto', sans-serif;
}
*{
    outline: none;
}
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.dialog-box{
    .mat-dialog-container{
        padding: 5px 0px 25px;
        overflow: hidden;
    }
    .mat-dialog-actions{
        flex-direction: row-reverse;
    }
}