/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Roboto');
@import url("https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

*{
    box-sizing: border-box;
}
body{
    background: #fafafa;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
    //max-width: 1600px;
}
.text-right{
    text-align: right;
}

