
.npm{
  background: #717171;
  padding: 10px;
  border-radius: 5px;
  color: #ffffcc;
}
.right-acc{
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  text-align: center;
  h1{
      text-align: center;
      font-size: 1.4em;
      border-bottom: 1px solid #ddd;
      padding-bottom: 15px;
      margin-bottom: 15px;
      margin-top: 43px;
  }
}


.tabs {
  display: flex;
  flex-direction: row;
  list-style: none;

  .tab a {
    cursor: pointer;
    color: rgba(238,110,115,0.7);
    display: block;
    height: 100%;
    padding: 7px 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease;
    transition: color .28s ease;
  }
}
